* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  /*background: ;fundo principal */
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
/* tamanho da página sem o footer (se der problema é só aumentar) */
main {
  height: 140vh;
}

/* começo da parte de cima LOGO PESQUISA ENTRAR */
.acima {
  background-color: #f7dbd2;
  display: flex;
  padding: 7px 10px 7px 20px;
  margin: 0 0 0 0;
  justify-content: flex-end;
  align-items: center;
  color: #252627;
  /* background-color: #b1835d; */
}
.logo {
  /* background-color: #b15d9f; */
  /* margin: 5px 800px 0 40px; */
  margin: 7px 940px 3px 40px;
  position: absolute;
}
img[alt="logo"] {
  width: 200px;
  margin: 0;
  height: auto;
  padding-bottom: 0px;
}
.login {
  width: 38px;
  height: 38px;
  margin: 0 50px 0 0;
  padding: 0 0 -10px 0;
  /* background-color: #5cb16e; */
}
img[alt="login"] {
  width: 44px;
  height: 44px;
  margin: -3px 40px -6px 0;
  padding: 0 0 0 0;
  border: none;
}
/* BOTÃO DE PESQUISA */
.caixa-search {
  /* background-color: #5cb16e; */
  background-color: #ffffff;
  border-radius: 50px;
  height: 38px;
  padding: 0;
  margin: 0 10px 0 10px;
  align-items: center;
}
.caixa-search:hover>.caixa-texto {
  width: 220px;
  padding: 0;
}
.caixa-search:hover>.botao-search {
  background-color: #ffffff;
  color: #252627;
  margin-left: 30px;
}
.botao-search {
  color: #fff;
  float: right;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  background-color: #252627;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  transition: 0.15s;
}
.botao-search i {
  color: #f7dbd2;
}
.caixa-search:hover i {
  color: #252627;
}
.caixa-texto {
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  /* background-color: #B05D61; */
  outline: none;
  float: left;
  padding: 0;
  color: #ffffff;
  font-size: 15px;
  transition: 0.4s;
  line-height: 38px;
  width: 0px;
  cursor: pointer;
}
/* HOVER */
.login img:hover,
.prev-button:hover,
.next-button:hover {
  /* color: #B05D61; */
  opacity: 0.7;
  transition: 0.15s;
  cursor: pointer;
}
/* começo do menu */
.menu {
  background-color: #faefeb;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1.5px solid #f7dbd2;
  /* border-bottom: 1.5px solid #39A9DB; */
  /* background-color: #b15d9f; */
}
/* deixar a borda no div item quando tiver o hover */
.item {
  opacity: 100%;
  width: 130px;
  height: auto;
  padding: 0 8px 0 8px;
  margin: 8px 20px 8px 0;
  color: #252627;
  text-decoration: none;
  text-align: center;
  /* background-color: #5cb16e; */
}
.item a {
  color: #252627;
  text-decoration: none;
  text-align: center;
  padding-bottom: 8px;
  font-size: 17px;
}
.item a:hover {
  border-bottom: #252627 1.8px solid;
  border-width: 1.8px;
  transition: 0.085s;
}
/* FIM DO MENU */



.slider {
  background-color: #FFF;
  /*Fundo atras dos cartoes*/
  padding: 1rem;
  z-index: 9999;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  grid-gap: 0rem;

  font: normal 1rem sans-serif;
}

.card {
  position: relative;
  width: 14rem;
  height: 20rem;
  background-color: #fff;
  color: #252627;
  border-radius: 1rem;
  border: .1rem solid transparent;
  overflow: hidden;
  box-shadow: 0 0 .8px #dbdbdb;
  transition: .5s ease-in-out;
  margin-top: 45px;
  z-index: 9999;
}

.cardcontent {
  position: absolute;
  top: 0;
  left: 0px;
  ;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

.cardimg {
  width: auto;
  height: 7rem;
}

.cardtitle {
  font-size: 1rem;
  text-transform: capitalize;
  transition-delay: .1s;
}

.cardbody {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  transition-delay: .2s;
}

.star {
  font-size: 1.4rem;
  color: gold;
}

.cardprice {
  font: bolder 1.2rem sans-serif;
}

.botoes {
  transition-delay: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.botoes button {
  width: 180px;
  height: 35px;
  font-size: 15px;
}

.agendar,
.saibamais {
  border: none;
  outline: none;
  border-radius: 7px;
  font-weight: 700;
  margin: 10px 10px auto 10px;
}

.agendar {
  color: #fff;
  /* background-color: #885053; */
  /* background-color: #6a2e35; */
  background-color: #565554;
  margin-bottom: 10px;
}

.botoes a {
  color: #fff;
  text-decoration: none;
}

.saibamais {
  background-color: #ffffff00;
  color: #565554;
  margin-top: 0;
  margin-bottom: 20px;
}

.agendar:hover,
.saibamais:hover {
  cursor: pointer;
  transition: 0.15s;
}

.agendar:hover {
  background-color: #d29c9c;
}

.saibamais:hover {
  color: #d29c9c;
}

.card:hover {
  border: 1.5px solid #f7dbd2;
  transform: scale(1.05);
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  background-color: #f7dbd2;
  border-radius: 50%;
  transition: .5s ease-in-out;
  z-index: 100;

}

.card::before {
  top: -6%;
  right: -6%;
  width: 8rem;
  height: 8rem;
}

.card::after {
  bottom: -6%;
  left: -6%;
  width: 4rem;
  height: 4rem;
}

.card:hover::before {
  transform: scale(1.5);
}

.card:hover::after {
  transform: scale(0);
}

#texto {
  color: #252627;
  position: absolute;
  font-size: 60px;
  left: 150px;
  top: 60px;

}

/* começo do footer */
footer {
    width: 100%;
    color: #252627;
    font-size: 17px;
}
footer h3{
    color: #252627;
    font-size: 17px;
    margin-bottom: 5px;
}
footer hr {
    display: block;
    margin: 0.5rem -900px 0.3rem 0;
    padding: auto 0px auto auto;
    border: 1.5px solid #f1cabd;
}
footer #tudo {
    background-color: #faefeb;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    padding: 3rem 3.5rem;
}
footer #social {
    display: flex;
    gap: 1rem;
    margin-top: -1.5rem;
}
footer .menu1, footer #sobre, footer #pagamento{
    text-align: left;
}
footer .menu1 a:hover, footer #sobre a:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* div das redes sociais */
footer #social .link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  transition: all 0.15s;
  font-size: 40px;
  margin: auto auto 10px 10px;
}

/* imagens das redes sociais */
footer #social i:hover {
  color: #d29c9c;
  transition: 0.15s;
}

footer #social i {
  color: #565554;
}

/* parte do copyright */
footer #copyright {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: #f7dbd2;
  color: #252627;
  font-size: 15px;
  font-weight: 100;
}

/* imagens do footer */
footer img[alt="tel"],
footer img[alt="loc"] {
  width: 20px;
  justify-content: center;
}

footer .logo1 {
  width: 150px;
  margin-top: 40px;
}

footer .cartoes {
  width: 45px;
  margin: 10px 20px 0 0;
}

/* todos os links do site */
a:link,
a:visited,
a:active {
  color: #252627;
  text-decoration: none;
}
